.topic-link {
  margin: 0 20px;
}

.mb {
  margin-bottom: 10px;
}

.category-description {
  color: rgb(83, 82, 82);
  font-style: italic;
}

.item {
  cursor: pointer;

  &:hover {
    background: rgb(228, 228, 228);
  }
}

@media screen and(min-width: 900px) {
  .main {
    display: inline-block;
    width: calc(100% - 310px);
  }

  .category-descendants {
    width: 300px;
    float:right;
  }
}
