.header {
  font-size:18px;

  h1 {
    text-decoration: underline;
    font-size:24px;
    margin-left:10px;
    margin-right:20px;
    cursor:pointer;
  }

  .avatar {
    height:30px;
    width:30px;
    border-radius:50%;
    vertical-align: middle;
  }

  span {
    margin:auto 10px;

    .btn {
      margin-right:40px;
      font-size:17px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }

  .admin-link {
    margin-left:auto;

    a {
      color: #fff !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
