.topic-header {
  background: #3062a3;
  padding: 10px;
  color: #fff;
  box-shadow: 0 0 3px 1px rgba(37, 34, 34, 0.158);
  margin-bottom: 5px;

  .title {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:20px;
      padding:10px 3px;
      color: #fff;

      strong {
          color:#EFC100;
          font-weight:inherit;
      }
  }

  .actions {
      display:flex;

      .align-right {
          margin-left:auto;
      }

      button {
        padding: 4px 10px;
        background: #fff;
        border: 0;
        cursor: pointer;

        &:nth-child(2) {
          margin-left: 5px;

          &:active {
            margin-left: 6px;
          }
        }

        &:active {
          padding: 3px 9px;
          margin: 1px;
        }
      }
  }
}
