<mat-sidenav-container fullscreen>

  <mat-sidenav mode="side" opened class="sidenav-nav">

    <mat-nav-list class="list">

      <a mat-list-item [routerLink]="['/admin/home']">
        <mat-icon class="icon">build</mat-icon>
        <span>Général</span>
      </a>

      <a mat-list-item [routerLink]="['/admin/categories']">
        <mat-icon class="icon">category</mat-icon>
        <span>Catégories</span>
      </a>

      <a mat-list-item [routerLink]="['/admin/users']">
        <mat-icon class="icon">account_box</mat-icon>
        <span>Utilisateurs</span>
      </a>

      <a mat-list-item [routerLink]="['/admin/permissions']">
        <mat-icon class="icon">fingerprint</mat-icon>
        <span>Permissions</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
